body {
    color: white;
    background-color: black;
}

a {
    color: #66f;
}

.hoba-controls {
    background: #222;
    border: medium inset #444;
    padding: 4px 6px;
}

#hoba-share-code-entry {
    max-width: 90%;
}
